body{
    background:grey;
   
}

h2{
    color:white;
    text-align:center;
    background: rgb(22, 22, 22);
    border-radius: 5px;
    padding:10px;
}
   

h3{
    color: white;
    text-align:center;
    margin-top: 40px;

}

form{
    color: white;
    margin-top: 100px;
    margin-left: 40%;
  
    height: 650px;
    
}

.nome{
    color:white

}


label{
    color:white
}

button{
    margin-left: 0%;
}

footer{
    color: rgb(250, 248, 248);
    background: rgb(44, 43, 43);
    border-radius: 5px;
    text-align: center;
}